*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    font-size: 50px;
    color-scheme: light dark;
} */
html{
    background-color: #071833;
}
.body {
    height: 100vh;
    position: relative;
    font-size: 17px;
    color: rgb(39, 39, 39);
}

.title {
   text-align: center;
    color:  #0a367d;
    font-size: 70px;
    margin-top: 10px;
    animation: title 3s 1;
}
@keyframes title{
    0%{
       margin-bottom: -20px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: 30px;
    }
}

.container {
    position: relative;
    height: 450px;
    width: 50%;
    background-color:  #0394fc;
    overflow: hidden;
    margin: auto;
    
}

.ques-con {
    position: absolute;
    padding: 30px;
    width: 100%;
    height: 100%;
}
.num {
    width: 12vh;
    height: 9vh;
    border-radius: 25%;
    border: 2px solid rgb(122, 122, 122);
    color: rgb(209, 209, 209);
    display: grid;
    place-items: center;
    margin: auto;
    font-size: 25px;
    box-shadow: 0 0 6px rgb(87, 86, 86);
    
}
.ques-con h1 {
    text-align: center;
    margin-top: 30px;
 
}
.btn-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    font-size: 30px;
}

button {
    font-size: 700;
    height: 0vh;
    width: 300px;
    padding: 30px 20px;
    margin: 10px 0;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 7%;
    border: 2px solid blue;
}
.my-button {
    display: flex;
    justify-content: center;
    gap: 3em;
}
.my-button button {
    width: 200px;
    font-size: 25px;
    font-weight: 600;
   
}


.hidden-btn {
    display: none;
    pointer-events: none;
}
.correct {
    background-color: rgb(13, 13, 226);
}
.wrong{
    background-color: rgb(102, 12, 12);
}

.content {
    display: flex;
    justify-content: center;
    gap: 3px;
}
.parag, span {
    text-align: center;
    margin: 10px;
    font-size: 30px;
    color: #0394fc;
}
.passed {
    color: green;
}


.parag1 {
    text-align: center;
    font-size: 20px;
    color: rgb(158, 155, 155);
}
.parag1-margin {
    margin-bottom: 1.2em;
}

@media (max-width: 960px) {
    .container, .my-button{
        width: 100%;
    }
    .my-button {
        display: grid;
        grid-template-columns: 1fr;
        width: 50%;
        margin: auto;
    }
    .toggles button {
        width: 350px;
    }
}
@media (max-width: 700px) {
    .container {
        width: 95%;
        height: 700px;
    }
    .my-button{
        display: grid;
        grid-template-columns: 1fr;
        width: 95%;
        margin: auto;
    }
    
    .my-button button {
        width: 350px;
    }
    .btn-div {
        display: grid;
        grid-template-columns:1fr;
        justify-content: center;
    }
}